* {
    margin: 0;
    padding: 0;
    /* 內减模式 */
    box-sizing: border-box;
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
  }
  .clearfix:after {
    clear:both;
  }

table{
    border-collapse: collapse;
    

  }
input{
  display: inline-block;
  height:125px;
  width: 375px;
  border: none;
  font-size: 40px;
  line-height: 75px;
}
  td{
    border: 1px solid #999;
  }

button{
  width: 125px;
    height: 125px;
    line-height: 125px;
    vertical-align: middle;
    text-align: center;
    background-color: #f2f2f2;
    font-size: 30px;
    border: none;
   

}

.shuchu{
    background-color: #fff;
}